/*
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
*/

@font-face {
    font-family: "Aldrich";
    src: url(Aldrich-Regular.ttf) format("truetype");
}

* {

    font-family: 'Aldrich';
    font-size: 109%;
    overflow-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    
}

html {
    height: 98%;
}

body {
    background-color: rgb(0, 0, 0);

    
    height: 100%;

    display: grid;
    justify-content: center;
    align-content: center;

    
}

button {
    color: white;
    width: 100%;
    height: 100%;   
    /*
    font-size: 30px;
    */

    opacity: 1;
    padding: 0px;
    text-align: center;
    padding-top: 5px;
}



#main {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    display: grid;

    min-width: 320px;

  
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        
        "textbox textbox textbox textbox"
        "dot xBackspace xClear xEnter"
        "none none none none"
        "none none none none"
        "none none none none"
        "x0 x0 x0 xSlash";  
}

#main > div {
    width: 100%;
}


#infodiv {
    height: 120px;
    width: 700px;
    color: white;
    background-color: rgb(46, 46, 46);
    font-size: 12px;
    padding: 10px;
    border: solid 0px rgb(46, 46, 46); 
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


#dot {
    grid-area: dot;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    padding: 10px;
    /*
    width: 100%;
    height: 99%;
    */
    /*
    font-size: 70px;
    */
    border: solid 5px black; 
    font-family: 'Aldrich', sans-serif;
    /*
    padding-left: 20px;
    */

}



#textbox {
    box-sizing: border-box;
    font-family: 'Aldrich';
    grid-area: textbox;
    margin-bottom: 10px;

    width: 100%;
}

    
#xClear{
    grid-area: xClear;
}

#xBackspace {
    grid-area: xBackspace;

}


#xEnter{
    grid-area: xEnter;
}

#x0{
    grid-area: x0;
    color: black;
}

#slash{
    grid-area: xSlash;
    color: rgb(83, 81, 81);
}



span {
    position: fixed;
    height: 50px;
    width: 4000px;
    z-index: -1;
    opacity: 0.7;

    /*
    position: fixed;
    filter: blur(15px);
    z-index: -1;
    height: 120px;
    width: 700px;
    border-radius: 50%;
    display: inline-block;

    transition: width 9s, height 9s, background-color 9s, transform 2s;
    */
}

button:hover { 
    border: solid red 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 73, 73);



    /* box-shadow from getcssscan.com */ 
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
     rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
       rgba(0, 0, 0, 0.06) 0px 2px 1px, 
       rgba(0, 0, 0, 0.09) 0px 4px 2px, 
       rgba(0, 0, 0, 0.09) 0px 8px 4px, 
       rgba(0, 0, 0, 0.09) 0px 16px 8px, 
       rgba(0, 0, 0, 0.09) 0px 32px 16px;



    /*
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    */
}

#x0:hover {
    color: rgb(163, 163, 163);
}

#xBackspace:hover {
    background-color: aquamarine;
}